name: keepalive

on:
  schedule:
    - cron: "*/20 * * * *"   # Ping hver 10. minut
  workflow_dispatch:

jobs:
  ping:
    runs-on: ubuntu-latest
    steps:
      - name: Ping Streamlit app
        run: |
          curl -L --silent --show-error --fail "https://knudsenhomeapp.streamlit.app/" > /dev/null
